:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 50px;
    font-family: sans-serif;
  }
  
  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  
  .logo span {
    color: var(--color-primary);
  }
  
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  
    position: relative;
  }

  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
  
  .list{
    text-align: center;
    padding-top: 40px;
  }

  .fon-image{
    text-align: center;
    padding-top: 30px;
  }

  .cards {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    padding-top: 50px;
  }
  
  .cards__item:not(:last-child) {
    margin-right: 20px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #bfbfbf;
    border-radius: 20px;
  }
  
  .card__image {
    height: 200px;
    border-radius: 20px;
  }
  
  .card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    flex-grow: 1;
  }
  
  .card__title {
    margin: 0;
    margin-bottom: 15px;
  }
  
  .card__descr {
    margin: 0;
    margin-bottom: 15px;
  }
  
  .card__btn {
    margin-top: auto;
    border: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .cards__item .card {
    height: 100%;
  }

  .video{

  }

  .video__link{
    padding-top: 40px;
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .video__icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .column {
    padding-top: 120px;
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
  width: 300px;
  padding-top: 40px;
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}